<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head" />
<body>
    <header th:replace="partials :: header" />
    <div class="top-post wf-section">
        <div class="container">
            <div class="posts-wrapper cc-top-post">
                <div class="w-dyn-list">
                    <div role="list" class="w-dyn-items">
                        <div role="listitem" class="top-post-item w-dyn-item">
                            <a data-w-id="f584d68a-6baf-e0a3-5c39-421b1f2647d2" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(1deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;" href="/posts/japan-house-opens" class="top-post-image w-inline-block">
                                <img src="https://via.placeholder.com/720x473" alt="" class="post-image">
                            </a>
                            <div class="top-post-text">
                                <a href="/category/illustration" class="category-link">Illustration</a>
                                <a href="/posts/japan-house-opens" class="top-post-link-block w-inline-block">
                                    <h2 class="h2">Dr. Javier learns the joys of Discord</h2>
                                </a>
                                <div class="post-short-text">Enim omittam qui id, ex quo atqui dictas complectitur. Nec ad timeam accusata, hinc justo falli id eum, ferri novum molestie eos cu.</div>
                                <div class="post-author-text">
                                    <div class="post-author cc-top-margin">By</div>
                                    <a href="/team-members/reta-torphy" class="post-author">Reta Torphy</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="_3-posts wf-section">
        <div class="container">
            <div class="posts-wrapper">
                <div class="posts-collection-list-wrapper w-dyn-list">
                    <div data-w-id="56790bf8-d103-7ca9-e653-899a2f1bc2cb" style="opacity: 1;" role="list" class="posts-collection-list w-dyn-items w-row">
                        <div role="listitem" class="_3-collection-item w-dyn-item w-col w-col-4">
                            <a href="/posts/helmut-lang-celebrates" class="posts-image w-inline-block">
                                <img src="https://via.placeholder.com/387x254" alt="" />
                            </a>
                            <div class="post-info-text">
                                <a href="/category/photography" class="category-link">Photography</a>
                                <a href="/posts/helmut-lang-celebrates" class="post-title w-inline-block">
                                    <h3 class="h3">Helmut Lang celebrates taxi drivers worldwide in latest campaign</h3>
                                </a>
                                <div class="post-author-text cc-small-thumbnail">
                                    <div class="post-author cc-top-margin">By</div>
                                    <a href="/team-members/alessandra-ortiz" class="post-author">Alessandra Ortiz</a>
                                </div>
                            </div>
                        </div>
                        <div role="listitem" class="_3-collection-item w-dyn-item w-col w-col-4">
                            <a href="/posts/bowlcut-launch-a-new-summer-collection" class="posts-image w-inline-block">
                                <img src="https://via.placeholder.com/387x254" alt="" />
                            </a>
                            <div class="post-info-text">
                                <a href="/category/photography" class="category-link">Photography</a>
                                <a href="/posts/bowlcut-launch-a-new-summer-collection" class="post-title w-inline-block">
                                    <h3 class="h3">Bowlcut launch a new summer collection that pays homage to “UK legends”</h3>
                                </a>
                                <div class="post-author-text cc-small-thumbnail">
                                    <div class="post-author cc-top-margin">By</div>
                                    <a href="/team-members/rosanna-ondricka" class="post-author">Rosanna Ondricka</a>
                                </div>
                            </div>
                        </div>
                        <div role="listitem" class="_3-collection-item w-dyn-item w-col w-col-4">
                            <a href="/posts/thousands-of-previously-unseen-photographs" class="posts-image w-inline-block">
                                <img src="https://via.placeholder.com/387x254" alt="" />
                            </a>
                            <div class="post-info-text">
                                <a href="/category/photography" class="category-link">Photography</a>
                                <a href="/posts/thousands-of-previously-unseen-photographs" class="post-title w-inline-block">
                                    <h3 class="h3">Thousands of previously unseen photographs by Andy Warhol will be made public this Autumn</h3>
                                </a>
                                <div class="post-author-text cc-small-thumbnail">
                                    <div class="post-author cc-top-margin">By</div>
                                    <a href="/team-members/adonis-lueilwitz" class="post-author">Annie Lueilwitz</a>
                                </div>
                            </div>
                        </div>
                        <div role="listitem" class="_3-collection-item w-dyn-item w-col w-col-4">
                            <a href="/posts/yinka-ilori" class="posts-image w-inline-block">
                                <img src="https://via.placeholder.com/387x254" alt="" />
                            </a>
                            <div class="post-info-text">
                                <a href="/category/interactive-design" class="category-link">Interactive Design</a>
                                <a href="/posts/yinka-ilori" class="post-title w-inline-block">
                                    <h3 class="h3">London-based Yinka Ilori’s storytelling furniture</h3>
                                </a>
                                <div class="post-author-text cc-small-thumbnail">
                                    <div class="post-author cc-top-margin">By</div>
                                    <a href="/team-members/adonis-lueilwitz" class="post-author">Annie Lueilwitz</a>
                                </div>
                            </div>
                        </div>
                        <div role="listitem" class="_3-collection-item w-dyn-item w-col w-col-4">
                            <a href="/posts/anonymous-israeli-art-collective" class="posts-image w-inline-block">
                                <img src="https://via.placeholder.com/387x254" alt="" />
                            </a>
                            <div class="post-info-text">
                                <a href="/category/graphic-design" class="category-link">Graphic Design</a>
                                <a href="/posts/anonymous-israeli-art-collective" class="post-title w-inline-block">
                                    <h3 class="h3">Anonymous Israeli art collective Broken Fingaz direct music video for U2 and Beck</h3>
                                </a>
                                <div class="post-author-text cc-small-thumbnail">
                                    <div class="post-author cc-top-margin">By</div>
                                    <a href="/team-members/simeon-brekke" class="post-author">Simeon Brekke</a>
                                </div>
                            </div>
                        </div>
                        <div role="listitem" class="_3-collection-item w-dyn-item w-col w-col-4">
                            <a href="/posts/suzanne-saroff" class="posts-image w-inline-block">
                                <img src="https://via.placeholder.com/387x254" alt="" />
                            </a>
                            <div class="post-info-text">
                                <a href="/category/architecture" class="category-link">Architecture</a>
                                <a href="/posts/suzanne-saroff" class="post-title w-inline-block">
                                    <h3 class="h3">Suzanne Saroff’s meticulously arranged photographs alter perceptions</h3>
                                </a>
                                <div class="post-author-text cc-small-thumbnail">
                                    <div class="post-author cc-top-margin">By</div>
                                    <a href="/team-members/reta-torphy" class="post-author">Reta Torphy</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="partials :: footer" />
</body>
</html>