<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8" />
    <title>Home</title>
    <!-- include stylesheets, etc here -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Tenor+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
    <header th:fragment="header" class="navigation">
        <div class="navigation-container">
            <a href="/" aria-current="page" class="logo w-inline-block w--current">
                <div class="text-logo">The Daily Codeup</div>
<!--                <img th:src="@{/images/noiceland_logo.svg}" alt="" class="image-logo">-->
            </a>
            <nav role="navigation" class="nav-menu w-nav-menu">
                <a href="/" aria-current="page" class="navigation-link w-inline-block w--current">
                    <div class="navigation-link-text">Home</div>
                    <div class="navigation-hover"></div>
                </a>
                <a href="/latest-posts" class="navigation-link w-inline-block">
                    <div class="navigation-link-text">Latest</div>
                    <div class="navigation-hover"></div>
                </a>
                <a href="/about" class="navigation-link w-inline-block">
                    <div class="navigation-link-text">About</div>
                    <div class="navigation-hover"></div>
                </a>
            </nav>
        </div>
    </header>
    <footer th:fragment="footer" class="footer">

    </footer>
</body>
</html>